.card_taller{
    box-shadow: 1px 1px 4px #6a6b6b;
}
.card_taller:hover{
    top: 2px;
    box-shadow: 4px 4px 7px #6a6b6b;
}
.image{
    opacity: 1 ;
        width:auto;
            height:auto
}
.image:hover{
    opacity: 1
}

.containerFluid{
    position: relative;
    background: #EDEDEF;
    align-content: center;
    left: 7%;
    width: 90%;
    /*display: flex;*/
}
.containerFluid2{
    position: relative;
    background: #EDEDEF;
    align-content: center;
/*    left: 7%;*/
    width: 100%;
    /*display: flex;*/
}
.containerList{
    position: relative;
    align-content: center;
    left: 4%;
    width: 90%;
    /*display: flex;*/
}
.containerSetting{
    position: relative;
    align-content: center;
    left: 4%;
    width: 90%;
    /*background: #EDEDEF;*/
    /*display: flex;*/
}
.reactPlayer{
    position: absolute;
    top: 0;
    left: 0;
}

body{
    background-color: #d9faf1;
}

.main-section{
    margin:0 auto;
}

.sombra{
    box-shadow: 0px 0px 4px #6a6b6b;   
}

.img-user{
    margin-top: -50px;
    margin-bottom: 15px;
}
.img-user img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 4px #6a6b6b;
    border-radius: 50px;
}

.mano{
    cursor:pointer;
}

#subMenu a{
    display: block;
    color: white;
    text-decoration: none;


}
#subMenu a:hover{
    display: block;
    font-weight: bold;
    text-decoration: none;
    background: white;
    color: darkgray;

}

#menu li a{
    display: block;
    color: white;

}
#menu li a:hover{
    display: block;
    color: white;
    background: gray;
    opacity: 1;

}
#menu li a:focus{
    display: block;
    color: white;
    background: gray;
    opacity: 0.5;
}


.support:hover{
    font-weight: bold;
}

.fa-headset{
    color: white;
}
.fa-user-tie{
    color: white;
}

.user-namefont{
    font-size: 12px;
}

.verticalLine {
  border-left:  solid #fff;
  position: relative;
  left:6%;
}

.image_login {
    width: 500px;
    height: 600px;
    background-image: url('img/fondo_login.jpg');
    background-size: contain;
}

main {
/*background-color: #6a6b6b;*/
    margin:3rem auto;
    max-width:75%;
    display:block;
}
